<h1>Tasks List</h1>

<ul> 
  <% @tasks.each do |task| %> 
    <li><%= task.completed ? 'done' : 'notdone'  %>
      <%= link_to task.title, task_path(task.id) %>
      <%= link_to 'delete', task_path(task.id), method: :delete, data: { confirm: "Are you sure?" } %>
      <%= link_to 'Edit', edit_task_path(task.id)%>
    </li>
  <% end %> 
</ul> 

<%= link_to 'Add Task', new_task_path %>


